        
<div class="row">
  <div class="col-md-12">
      <h1 class="titulo-interna">Clientes</h1>
  </div>
</div> 

  <mat-card *ngFor="let data of client">
    <div class="cardClient">
      <mat-card-header>
        <mat-card-title center>{{data.name}} {{data.lastName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-subtitle>Usuario : {{data.user}}</mat-card-subtitle>
        <mat-card-subtitle>Edad : {{data.age}}</mat-card-subtitle>
        <mat-card-subtitle>Género : {{data.gender}}</mat-card-subtitle>
      </mat-card-content>                    
    </div>  
  </mat-card>

