<titulo valor="Cambiar contraseña"></titulo>
<form (ngSubmit)="changePassword(changePassForm);" #changePassForm="ngForm" class="example-form">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="usuario" [(ngModel)]="changePass.user" name="user" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="contraseña actual" type="password" [(ngModel)]="changePass.actualPass" name="actualPass" required>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
  
            <mat-form-field class="example-full-width">
              <input matInput placeholder="contraseña nueva" type="password" [(ngModel)]="changePass.newPass" name="newPass" required>
            </mat-form-field>
          </div>
      <div class="col-md-6">
        <button class="example-button-row" [disabled]="!changePassForm.form.valid" mat-button block>Iniciar sesion</button>
      </div>
    </div>
</form>