<titulo valor="Cambiar contraseña"></titulo>
<p>Para ingresar al sistema, debes cambiar tu contraseña actual. Ingresa los campos a continuación y presiona el botón enviar.</p>
<div class="row">
    <div class="col-md-6">
            <input-password valor="Nueva contraseña"></input-password>
    </div>
    <div class="col-md-6">
        <input-password valor="Repetir contraseña"></input-password>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <boton etiqueta="Enviar"></boton>
    </div>
</div>