<titulo valor="Registro"></titulo>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <input-text valor="Correo electrónico"></input-text>
    </div>
    <div class="col-sm-12 col-md-6">
        <input-text valor="Nombres"></input-text>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <input-text valor="Apellido"></input-text>
    </div>
    <div class="col-sm-12 col-md-6">
        <span>Género</span>
        <input-radio valor="Femenino"></input-radio>
        <input-radio valor="Masculino"></input-radio>
        <input-radio valor="Otro"></input-radio>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6"> <input-text valor="Edad"></input-text></div>
    <div class="col-sm-12 col-md-6"><boton etiqueta="Enviar"></boton></div>
</div>