<titulo valor="Iniciar sesión"></titulo>
<div class="row">
    <div class="col-md-6">
        <input-text valor="Correo electrónico"></input-text>
    </div>
    <div class="col-md-6">
        <input-password valor="Contraseña"></input-password>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <boton etiqueta="Ingresar"></boton>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6"><p>¿No estás registrado?</p></div>
    <div class="col-sm-12 col-md-6"><a href="#">Regístrate</a>></div>
</div>
<router-outlet></router-outlet>