<div *ngIf="messenger">
<label>
  <input type="checkbox">
  <span class="menu">
    <span class="hamburger"></span>
  </span>
  <ul>
    <li> <a href="/homeUserMessengerme">Inicio</a></li>
    <li><a href="/hohomeUserMessengerme">Ver Medicamentos</a></li>
    <li><a href="/changePassUserMessenger">Cambiar contraseña</a></li>
    <li><a href="/listPurchase">Ver Compras</a></li>
    <li><a href="/home" (click)="logout()">Salir</a></li>
  </ul>
</label>
</div>




  <div *ngIf="admin">
    <label>
      <input type="checkbox">
      <span class="menu">
        <span class="hamburger"></span>
      </span>
      <ul>
        <li> <a href="/homeAdminUser">Inicio</a></li>
        <li> <a href="/listClient">Ver Clientes</a></li>
        <li> <a href="/listMedicament">Ver Medicamentos</a></li>
        <li> <a href="/registerMedicament">Registrar Medicamentos</a></li>
        <li> <a href="/registerUserAdmin">Registrar Administrador</a></li>
        <li> <a href="/registerUserMessenger">Registrar Mensajero</a></li>
        <li> <a href="/listUserAdmin">Ver Administradores</a></li>
        <li> <a href="/listUserMessenger">Ver Mensajeros</a></li>
        <li> <a href="/listRecord">Historial</a></li>
        <li> <a href="/trackingDomicilios">Tracking de domicilios</a></li>

        <li> <a href="/home" (click)="logout()">Salir</a></li>
      </ul>
    </label>
    </div>


    <div *ngIf="client">

        <label>
            <input type="checkbox">
            <span class="menu">
              <span class="hamburger"></span>
            </span>
            <ul>
                <li> <a href="/homeClient">Inicio</a></li>
                <li> <a href="/medicaments">Medicamentos</a></li>
                <li><a href="/changePassClient">Cambiar contraseña</a></li>
                <li><a href="/home" (click)="logout()">Salir</a></li>
            </ul>
          </label>

      </div>